body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  width: 100%;
}

.logo-img {
  width: 20%;
  height: 15vh;
  /* border: 2px solid red; */
}

img {
  width: 40%;
  height: 100%;
}

.navigation {
  width: 40%;
  margin-top: 2%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}

.hamburger {
  display: none;
}

.li-items {
  display: inline;
  margin-left: 10%;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
}

label {
  font-size: 4vh;
  display: block;
  text-align: center;
  margin-bottom: 1%;
}

#TaskInput {
  width: 50%;
  height: 7vh;
  font-size: 5vh;
  text-align: center;
  display: block;
  margin-left: 25%;
  /* border: 2px solid red; */
}

#TaskInput:focus {
  color: yellowgreen;
  font-size: larger;
}

button {
  width: 6%;
  height: 5vh;
  background-color: #0069d9;
  color: aqua;
  border-color: #0069d9;
}

button:hover {
  background-color: blue;
  color: white;
  border-color: white;
}

#bu {
  margin-left: 43%;
  margin-top: 2%;
  margin-right: 1%;
}

.li-tag {
  margin-top: 3%;
  width: 52%;
  height: 7vh;
  margin-left: 23%;
  /* border: 2px solid red; */
  text-align: center;
  list-style-type: none;
  font-size: 4vh;
  /* text-decoration: line-through; */
  /* background-color: teal; */
  background-color: white;
}

.li-tag button {
  width: 12%;
  height: 5vh;
  margin-left: 3%;
  font-size: 3vh;
  /* background-image: url(../img/icons8-cancel-64.png);
  background-size: cover; */
  background-color: #0069d9;
  color: aqua;
}

.li-tag button:hover {
  background-color: blue;
  color: white;
}

#li {
  /* margin-top: 3%;
  width: 51%;
  /* height: 7vh; */
  /* margin-left: 25%;
  list-style-type: none;
  border: 2px solid red;
  text-align: center; */

  /* font-size: 4vh; */
  /* background-color: white; */
  color: black;
}

.li-items1 {
  margin-top: 3%;
  width: 51%;
  /* height: 7vh; */
  padding: 0.7%;
  margin-left: 23%;
  list-style-type: none;
  /* border: 2px solid red; */
  text-align: center;

  font-size: 4vh;
  background-color: white;
  list-style-type: none;
}
.button-local {
  width: 11%;
  height: 5vh;
  margin-left: 2%;
  font-size: 3vh;
}

main {
  border: 2px solid #768a80;
  background-color: #768a8033;
  margin-top: 8%;
  width: 99%;
  /* height: 60vh; */
}

footer {
  margin-top: 8%;
  height: 20vh;
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
}

.footer-icon i {
  margin-top: 2%;
  margin-right: 4%;
}

.footer-copy {
  margin-top: 7vh;
}

@media (max-width: 767.98px) {
  .logo-img {
    width: 50%;
    height: 15vh;
    /* border: 2px solid red; */
  }
  #TaskInput {
    width: 45%;
    height: 4vh;
  }
  label {
    margin-top: 3%;
    margin-bottom: 4%;
  }
  button {
    width: 15%;
  }
  #bu {
    margin-left: 35%;
  }
  .li-tag {
    width: 80%;
    margin-left: 6%;
    font-size: 4vh;
  }
  main {
    width: 99%;
    margin-top: 30%;
  }

  .li-tag button {
    width: 30%;
    font-size: 3vh;
  }

  footer {
    margin-top: 50%;
  }

  .navigation {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20%;
  }
  .show {
    display: flex;
    padding: 0;
    text-align: center;
    margin: 0;
    border-color: black;
  }

  .links-item {
    margin: 0;
    width: 100%;
    background-color: black;
    padding: 0;
    height: 3vh;
  }

  .hamburger {
    display: block;
    margin: 7%;
    background-color: black;
  }
  .button-local {
    width: 40%;
  }
}
